html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {

}

body {
  background-color: #f7f9fc;
  font-family: 'Source Sans Pro', sans-serif;
}

